type=oracle
driver=oracle.jdbc.OracleDriver
url=jdbc:oracle:thin:@{{artifactory_db_vname}}:1521:{{artifactory_db_name}}
username={{artifactory_db_user}}
password={{artifactory_db_password}}

## Determines where the actual artifacts binaries are stored. Available options:
## filesystem - binaries are stored in the filesystem (recommended, default)
## fullDb     - binaries are stored as blobs in the db, filesystem is used for caching
## cachedFS   - binaries are stored in the filesystem, but a front cache (with faster access) is added
## IMPORTANT NOTE: This property should not be change after the initial setup. To change binaries storage you have to export and import

binary.provider.type=filesystem

## Determines the maximum filesystem cache size in bytes when using binary provider type fullDb or cachedFS. Default is 5GB
## Supported units are GB (gigabytes), MB (megabytes) and KB (kilobytes)
#binary.provider.cache.maxSize=5GB
