#!/bin/sh
#Default values
export ARTIFACTORY_HOME={{artifactory_home}}
export ARTIFACTORY_USER={{artifactory_user}}

export TOMCAT_HOME={{artifactory_tomcat_home}}
export ARTIFACTORY_PID={{artifactory_pidfile}}

export JAVA_OPTIONS="-server -Xms512m -Xmx2g -Xss256k -XX:PermSize=128m -XX:MaxPermSize=256m -XX:+UseG1GC" 